:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --vd-cyan: hsl(183, 100%, 15%);
    --darkgrayish-cyan1: hsl(186, 14%, 43%);
    --darkgrayish-cyan2: hsl(184, 14%, 56%);
    --lightgrayish-cyan1: hsl(185, 41%, 84%);
    --lightgrayish-cyan2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    background-color: var(--lightgrayish-cyan1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* DRY AREA */

input, textarea, button {
    font-family: inherit;
}

button:hover{
    cursor: pointer;
}

input[type = "text"]{
    font-weight: bold;
    border: none;
}

input[type = "text"]:focus{
    outline: none;
    border: 2px solid var(--strong-cyan);
}

#rupeeIcon, #userIcon{
    font-weight: 400;
    position: absolute;
    color: var(--darkgrayish-cyan2);
    font-size: 0.8rem;
}

.textbox{
    width: 90%;
    height: 1.7rem;
    border-radius: 0.3rem;
    text-align: right;
    color: var(--vd-cyan);
    background-color: var(--lightgrayish-cyan2);
    font-size: 1.2rem;
}

.tbError{
    border: 2px solid var(--red);
}

h1{
    width: 6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: bold;
    word-wrap: break-word;
    color: var(--vd-cyan);
    margin-bottom: 2rem;
}

#TipCalc{
    width: 63%;
    height: 60%;
    background-color: var(--white);
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left, .right{
    width: 45%;
    height: 88%;
    border-radius: 0.7rem;
}

#TipCalc .left{
    color: var(--vd-cyan);
    position: relative;
}

h2{
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 2px;
}



#rupeeIcon{
    top: 2.5rem;
    left: 1rem;
}

#TipCalc .right{
    background-color: var(--vd-cyan);
}


.percSelect{
    margin: 1.75rem 0;
}

.buttWrapper {
    list-style-type:none;
   
    padding:0;
    height: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.buttWrapper li{
    float:left;
    margin:0 5px 0 0;
    width: 6rem;
    height: 2.2rem;
    position:relative;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.buttWrapper .percButt{
    border: none;
    background-color: var(--vd-cyan);
    color: var(--white);
}

.buttWrapper .buttLabel, .buttWrapper input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

.buttWrapper input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

.buttWrapper input[type="radio"]:checked + .buttLabel {
   background-color: var(--strong-cyan);
   color: var(--vd-cyan);
}

.buttWrapper .buttLabel {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
    z-index:90;
    border: none;
    border-radius: 5px;
}



#percText{
    width: 6rem;
    height: 2.2rem;
    text-align: center;
    border: none;
    box-sizing: border-box;
    background-color: var(--lightgrayish-cyan2);
}

#percText:focus{
    border: 2px solid var(--strong-cyan);
}

.percButt, #percText{
    border-radius: 5px;
    font-weight: bold;
}


#userIcon{
    bottom: 2rem;
    left: 1rem;
}

    /* RIGHT */

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.results, .tipAmount, .totalAmount{
    display: flex;
}

.results{
    flex-direction: column;
}

.tipAmount, .totalAmount{
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    height: 6rem;
}

.tipAmount .tip, .totalAmount .total{
    text-transform: capitalize;
    color: var(--white);
}

.tip, .total{
    font-size: 0.9rem;
}

.tip{
    width: 6rem;
}

.total{
    width: 6.7rem;
}

.perPerson{
    font-size: 0.7rem;
    color: var(--darkgrayish-cyan2);
}

.largeRupee{
    font-size: 1.5rem;
}

.button{
    float: bottom;
}

.tipAmount .tipNumDiv, .totalAmount .totalNumDiv{
    color: var(--strong-cyan);
    font-size: 2rem;
}

.tipNum, .totalNum{
    color: inherit;
    display: inline;
}

.actionButtons{
    text-align: center;
    position: relative;
    height: 3rem;
}

.resetButt, .calcButt{
    width: 30%;
    height: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--strong-cyan);
    color: var(--vd-cyan);
    border: none;
    border-radius: 5px;
    transition: 0.2s;

}

.resetButt:hover{
    cursor: pointer;
}

.resetButt:hover, .calcButt:hover{
    background-color: var(--vd-cyan);
    border: 2px solid var(--strong-cyan);
    color: var(--strong-cyan);
}

.attribution { 
    margin-top: 1rem;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--vd-cyan); 
}


@media screen and (max-width: 1100px){
    .buttWrapper li, #percText{
        width: 5rem;
        height: 2rem; 
        font-size: 1rem;     
    }

    #percText::-webkit-input-placeholder {
        font-size: 0.9rem;
        line-height: 3;
    }

    #userIcon{
        bottom: 0.9rem;
        left: 1rem;
    }

    .tip{
        width: 5.5rem;
    }

    .tip, .total{
        font-size: 0.8rem;
    }    

    .largeRupee{
        font-size: 1.5rem;
    }

    .tipAmount .tipNumDiv, .totalAmount .totalNumDiv{
        font-size: 1.7rem;
    }

    .resetButt, .calcButt{
        font-size: 0.7rem;
        height: 2.2rem;
    }
}

@media screen and (max-width: 1016px){
    #TipCalc{
        width: 70%;
    }
}

@media screen and (max-width: 850px){
    #TipCalc{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .buttWrapper li, #percText{
        width: 4.5rem;
        height: 1.8rem; 
        font-size: 0.9rem;     
    }

    .percSelect{
        margin: 0rem 0;
    }
}

@media screen and (max-width: 680px){
    h1{
        font-size: 1.3rem;
        margin: 0.5rem 0;
        width: 5rem;

    }
    
    #TipCalc{
        width: 85%;
        height: 50%;
    }

    .left, .right{
        height: 80%;
    }

    .percSelect{
        margin: 0;
    }

    .buttWrapper li, #percText{
        width: 4.3rem;
        height: 1.8rem; 
        font-size: 0.8rem;     
    }


    h2{
        font-size: 0.6rem;
    }

    .textbox{
        height: 1.5rem;
    }

    .buttWrapper{
        margin: 0.2rem;
    }

    #rupeeIcon, #userIcon {
        font-size: 0.7rem;
    }

    #rupeeIcon{
        top: 2.4rem;
    }

    #userIcon{
        bottom: 0.8rem;
    }

        /* RIGHT */
    
    .results{
        height: 9rem;
    }

    .tipAmount, .totalAmount{
        height: 4.5rem;
    }

    .tip{
        width: 5.5rem;
    }

    .tip, .total{
        font-size: 0.7rem;
    }    

    .largeRupee{
        font-size: 1.2rem;
    }

    .tipAmount .tipNumDiv, .totalAmount .totalNumDiv{
        font-size: 1.5rem;
    }

    .actionButtons{
        height: 2rem;
    }

    .resetButt, .calcButt {
        font-size: 0.6rem;
        height: 2rem;
    }

    .resetButt:hover, .calcButt:hover{
        border: 1.5px solid var(--strong-cyan);
    }
}


@media screen and (max-width: 620px){
    #TipCalc{
        width: 15rem;
        height: fit-content;
        flex-direction: column;
    }

    .left, .right{
        width: 90%;
        height: 17rem;
        margin: auto;
    }

    .textbox{
        width: 90%;
    }
}